/* .button{
    background-color: white;
    color: rgb(59, 17, 4);
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
} */

.menu-icon{
    display: none;
}

@media (max-width:1000px){
    .logo{
        font-size: 25px;
    }
    nav ul li{
        margin: 10px 15px;
    }
  }
@media (max-width:840px){
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #11154e;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
    }
    .menu-icon{
        display: block;
        width: 50px;
        cursor: pointer;
    }
    .hide-on-mobile{
        right: -200px;
    }
}